.about-section {
  display: flex;
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.about-section__image {
  flex-shrink: 0;
  margin-right: 100px;

  @include vp-1023 {
    margin-right: 25px;
  }
}

.about-section__text {
  @include vp-1023 {
    margin-top: -4px; //pixelperfect
  }

  h2 {
    margin: 0 0 13px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;

    @include vp-1023 {
      margin-bottom: 11px; //pixelperfect
    }
  }

  p {
    margin: 0;
    line-height: 22px;
    font-family: $ff-pt-mono;

    + p {
      margin-top: 20px;
    }
  }

  &--closed {
    p:nth-of-type(n + 3) {
      display: none;
    }
  }
}

.about-section__btn {
  min-width: 180px;
  min-height: 45px;
  margin-top: 40px;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin-top: 16px;
  }
}
