.form-section {
  position: relative;
  padding: 165px 0 235px;
  color: $color-default-white;
  background-color: $color-deep-sky-blue;
  background-image: linear-gradient();

  @include vp-1023 {
    padding: 45px 0 118px;
  }

  @include vp-767 {
    padding-bottom: 84px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    width: calc(50% + 12px);
    background-color: rgba($color-black-pearl, 0.5);

    @include vp-1023 {
      display: none;
    }
  }
}

.form-section__inner {
  display: flex;
}

.form-section__image {
  flex-shrink: 0;
  max-width: 42%;
  margin: 81px 102px 0 0;
  z-index: 1;

  @include vp-1023 {
    display: none;
  }
}

.form-section__text {
  margin-left: 13px;

  @include vp-1023 {
    margin-left: 0;
    width: 100%;

    h2 {
      margin-bottom: 8px;
    }

    > p {
      margin-left: 0;
    }
  }

  h2 {
    margin: 0 0 13px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;

    @include vp-767 {
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    margin: 0 0 0 5px;
    line-height: 21.5px;
    font-family: "PT Mono", "Courier New", monospace;

    @include vp-767 {
      font-size: 14px;
    }
  }
}
